<%= simple_form_for([@project, @task]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <h3><%= link_to @project.name, project_tasks_path(@project) %></h3>
    
    <div class="important_info">
      <%= f.input :name %>
      <%= f.input :description, :as => :text, :input_html => {:rows => 10} %>
      <%= f.input :url %>
    </div>
    <% if @project.users.include?(current_user) -%>
      <div class="control-group">
        <label class="control-label">Complexity</label>
          <label class="radio inline">
            <%= radio_button_tag "complexity_id", 0, (true if est_complexity_id(@task) == 0), :disabled => (true if est_complexity_id(@task) != 0) %><%= "Unknown" %>
          </label>
          <% Complexity.all.sort_by{|c| c.points}.each do |c| -%>
            <label class="radio inline">
              <%= radio_button_tag "complexity_id", c.id, (true if est_complexity_id(@task) == c.id), :title => complexity_tooltip(c), :rel => 'tooltip', "data-placement" => 'bottom', :onchange => "alert('#{c.id}');" %><%= c.code -%>
            </label>
          <% end -%>
      </div>
    <% end -%>
    
    
    <%= f.association :user, :collection => @project.users.all %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Save', class: "btn" if @project.users.include?(current_user)%>
    <%= link_to 'Back', project_tasks_path, class: "btn" %>
    <% if @task.new_record? -%>
      <%= f.submit 'Save & New', class: "btn" if @project.users.include?(current_user) %>
    <% end -%>
  </div>
<% end %>
