<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :project %>
    <% title = "<table><tr><th>Complexity:</th><th>Planned duration min:</th><th>Planned duration max:</th><th>Points:</th>"+Complexity.all.sort_by{|c| c.points}
.map{|c| ["<tr><td>", c.code,"</td><td>",c.planned_duration_min,"</td><td>",c.planned_duration_max,"</td><td>",c.points,"</td></tr>"]}.join+"</table>" %>
    <%= f.association :end_complexity, :as => :radio_buttons, :collection => Complexity.all(:order => 'points'), :input_html => { :title =>  title, :rel => 'tooltip', "data-placement" => 'right' } %>
    <%= f.input :name %>
    <label>Description</label><%= f.text_area :description, :rows => "15" %>
    <%= f.input :start_date, :as => :datepicker %>
    <%= f.input :end_date, :as => :datepicker %>
    <%= f.input :invoice_number %>
    <%= f.input :invested_hours %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
