<h1><%= @project.name %></h1>

<%= link_to 'New Task', new_project_task_path(@project), class: "btn" %>

<br />
<br />

<table class = "table table-striped">
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Priority</th>
  </tr>

<% @tasks.opened(Date.today).order("priority DESC").each do |task| %>
  <%= render 'index_table', :task => task, :table_color => "success" %>
<% end %>
<% @tasks.not_yet_opened.order("priority DESC").each do |task| %>
  <%= render 'index_table', :task => task, :table_color => "error" %>
<% end %>
<% @tasks.closed(Date.today).order("priority DESC").each do |task| %>
  <%= render 'index_table', :task => task, :table_color => "" %>
<% end %>

</table>

<br />

<%= link_to 'New Task', new_project_task_path(@project), class: "btn" %>
