<h1>Listing tasks</h1>

<table class = "table table-striped">
  <tr>
    <th>User</th>
    <th>Project</th>
    <th>Average Complexity</th>
    <th>End complexity</th>
    <th>Name</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Invoice number</th>
    <th>Invested hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <% unless task.user.nil? -%>
      <td class="avatar_name"><%= image_tag avatar_url(task.user,40) %> <br/>
      <%= task.user.name.split.first %></td>
    <% else -%>
      <td></td>
    <% end -%>
    <td><%= task.project.name %></td>
    <td><%= get_average_points(task.estimations)%></td>
    <td><%= task.end_complexity.try(:code) %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.start_date %></td>
    <td><%= task.end_date %></td>
    <td><%= task.invoice_number %></td>
    <td><%= task.invested_hours %></td>
    <td><%= link_to 'Show', task, class: "btn" %></td>
    <td><%= link_to 'Edit', edit_task_path(task), class: "btn" %></td>
    <% if can? :destroy, @task %>
      <td><%= link_to 'Destroy', task, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Task', new_task_path(), class: "btn" %>
<%= link_to 'New Task', new_project_task_path(@project), class: "btn" %>
