<h1>Listing tasks</h1>

<table class = "table table-striped">
  <tr>
    <th>User</th>
    <th>Project</th>
    <th>Complexity</th>
    <th>End complexity</th>
    <th>Name</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Invoice number</th>
    <th>Invested hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.user.name %></td>
    <td><%= task.project.name %></td>
    <td><%= task.complexity.code %></td>
    <td><%= task.end_complexity.code %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.start_date %></td>
    <td><%= task.end_date %></td>
    <td><%= task.invoice_number %></td>
    <td><%= task.invested_hours %></td>
    <td><%= link_to 'Show', task, class: "btn" %></td>
    <td><%= link_to 'Edit', edit_task_path(task), class: "btn" %></td>
    <td><%= link_to 'Destroy', task, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
