<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @task.user.name %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project.name %>
</p>

<p>
  <b>Complexity:</b>
  <%= @task.complexity.code %>
</p>

<p>
  <b>End complexity:</b>
  <%= @task.end_complexity.try(:code) %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @task.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @task.end_date %>
</p>

<p>
  <b>Invoice number:</b>
  <%= @task.invoice_number %>
</p>

<p>
  <b>Invested hours:</b>
  <%= @task.invested_hours %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
