<h1>Listing users</h1>

<table class = "table table-striped">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Monogram</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="avatar_name"><%= image_tag avatar_url(user,40) %> <br/>
    <%= user.name.split.first %></td>
    <td><%= user.name %></td>
    <td><%= user.monogram %></td>
    <td><%= user.admin %></td>
    <td><%= link_to 'Show', user, class: "btn" %></td>
    <% if (user == current_user) || current_user.admin %>
      <td><%= link_to 'Edit', edit_user_path(user), class: "btn" %></td>
    <% end %>
    <% if can? :destroy, @user %>
      <td><%= link_to 'Destroy', user, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @user%>
  <%= link_to 'New User', new_user_path, class: "btn" %>
<% end %>
