<p class="avatar_name">
  <%= image_tag avatar_url(@user,80) %> <br/>
  <%= @user.name.split.first %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Monogram:</b>
  <%= @user.monogram %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Set avatar', "http://gravatar.com" %>
<br/>
<br/>
<h3>My bookmarks</h3>

<%= link_to 'New Bookmark', new_user_bookmark_path(@user), :class => "btn" %>
<br /><br />

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th width=50></th>
    <th width=50></th>
  </tr>

  <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.name %></td>
        <td><%= bookmark.location %></td>
        <td><%= link_to 'Edit', edit_user_bookmark_path(@user, bookmark), :class => "btn" %></td>
        <td><%= link_to 'Destroy', user_bookmark_path(@user, bookmark), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Bookmark', new_user_bookmark_path(@user), :class => "btn" %>

