<p id="notice"><%= notice %></p>

<p class="avatar_name">
  <%= image_tag avatar_url(@user,80) %> <br/>
  <%= @user.name.split.first %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Monogram:</b>
  <%= @user.monogram %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Set avatar', "http://gravatar.com" %>
