<h1>Listing complexities</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Planned duration min</th>
    <th>Planned duration max</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @complexities.each do |complexity| %>
  <tr>
    <td><%= complexity.code %></td>
    <td><%= complexity.planned_duration_min %></td>
    <td><%= complexity.planned_duration_max %></td>
    <td><%= complexity.points %></td>
    <td><%= link_to 'Show', complexity %></td>
    <td><%= link_to 'Edit', edit_complexity_path(complexity) %></td>
    <td><%= link_to 'Destroy', complexity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Complexity', new_complexity_path %>
