<h1>Listing complexities</h1>

<table class="table table-striped">
  <tr>
    <th>Code</th>
    <th>Planned duration min</th>
    <th>Planned duration max</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @complexities.each do |complexity| %>
  <tr>
    <td><%= complexity.code %></td>
    <td><%= complexity.planned_duration_min %></td>
    <td><%= complexity.planned_duration_max %></td>
    <td><%= complexity.points %></td>
    <% if can? :all, @complexity %>
      <td><%= link_to 'Show', complexity, class: "btn" %></td>
      <td><%= link_to 'Edit', edit_complexity_path(complexity), class: "btn" %></td>
      <td><%= link_to 'Destroy', complexity, class: "btn" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @complexity %>
  <%= link_to 'New Complexity', new_complexity_path, class: "btn" %>
<% end %>
