<tr class = <%= table_color %> >
	<td><%= link_to t.project.name, project_tasks_path(t.project) %>/<%= link_to t.name, edit_project_task_path(t.project,t) %></td>
	<% unless t.url.nil? || t.url.empty? -%>
		<td><%= link_to image_tag("#{root_url}url-icon.png"), t.url, :target => "_blank" %></td>
	<% else -%>
		<td></td>
	<% end -%>
	<td><%= link_to "Edit", edit_project_task_path(t.project,t), class: "btn" %></td>
	<% if t.start_date.nil? -%>
      <td><%= link_to "Start", project_task_path(t.project, t, :task => { :start_date => Date.today, :user_id => current_user }) , :method => 'put', class: "btn" %></td>
    <% elsif t.end_date.nil? && current_user == t.user -%>
      <td><%= link_to "Close", project_task_path(t.project, t, :task => { :end_date => Date.today}) , :method => 'put', class: "btn" %></td>
    <% else -%>
      <td></td>
    <% end -%>
    <% if t.end_date.nil? && t.estimations.find_by_user_id(current_user.id).try(:complexity).nil? -%>
      <td><%= link_to 'Estimate', edit_project_task_path(t.project, t), class: "btn" %></td>
    <% else -%>
      <td></td> 
    <% end -%>
</tr>