<tr class = <%= table_color %> >
	<td>
    <% if view_point == "user" -%>
      <%= link_to task.project.name, project_tasks_path(task.project) %> /
    <% end -%>
    <%= content_tag(:span, link_to(task.name, edit_project_task_path(task.project,task)), {:title => task.description, :rel => 'tooltip', "data-placement" => 'right'}) %></td>
	<% unless task.url.nil? || task.url.empty? -%>
		<td><%= link_to image_tag("#{root_url}url-icon.png"), task.url, :target => "_blank" %></td>
	<% else -%>
		<td></td>
	<% end -%>
    <td><%= priority_name(task.priority) %></td>
    <% if task.project.user_on_project?(current_user)%>
      <td><%= link_to "Edit", edit_project_task_path(task.project,task), class: "btn" %></td>
    <% else %>
      <td></td>
    <% end %>
	<% if task.not_yet_opened? && task.project.user_on_project?(current_user) -%>
      <td><%= link_to "Start", project_task_path(task.project, task, :task => { :start_date => Date.today, :user_id => current_user }) , :method => 'put', class: "btn" %></td>
    <% elsif task.opened? && current_user == task.user -%>
      <td><%= link_to "Close", project_task_path(task.project, task, :task => { :end_date => Date.today}) , :method => 'put', class: "btn" %></td>
    <% else -%>
      <td></td>
    <% end -%>
    <% if (task.not_yet_opened? || task.opened?) && task.project.user_on_project?(current_user) && task.estimations.find_by_user_id(current_user.id).try(:complexity).nil? -%>
      <td><%= link_to 'Estimate', edit_project_task_path(task.project, task), class: "btn" %></td>
    <% else -%>
      <td></td> 
    <% end -%>
</tr>