<% if !current_user %>
  <div class="center hero-unit">
    <h1>Powistry</h1>
    <p>Welcome to the Powistry! This app lets you easily register your team's performance and efficiency.</p>
    <% unless Rails.env.production? -%>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-primary" %> or
    <% end -%>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-large btn-primary" %>    
  </div>
<% else %>
  <% if current_user.estimations.map{|e| e.complexity}.include?(nil) -%>
    <div class="alert alert-info">
      You have unfilled estimations on the following tasks:
      <% current_user.estimations.each do |est| %>
        <% if est.complexity.nil? %>
          <%= link_to est.task.name, edit_project_task_path(est.task.project, est.task) %>
        <% end %>
      <% end %>
    </div>
  <% end -%>
  
  <%= render partial: "game" %>
  
  <h3>Tasks per users</h3>
  <% @users.each do |u| -%>
    <div class="container-fluid">
      <div class="important_info">
        <div class="row-fluid">
        <div class="span2 avatar_name">
          <%= image_tag avatar_url(u,80) %> <br/>
          <%= u.name.split.first %></td>
        </div>
        <div class="span10">
          <table class = "table table-bordered">
            <tr>
              <th style="width:50%">Name</th>
              <th style="width:20%">Url</th>
              <th style="width:10%"></th>
              <th style="width:10%"></th>
              <th style="width:10%"></th>
            </tr>
          <% u.tasks.opened(Date.today).each do |t| %>
            <%= render "home_table", :t => t, :table_color => "success" %>
          <% end -%>
            
          <% u.tasks.not_yet_opened.each do |t| %>
            <%= render "home_table", :t => t, :table_color => "error" %>
          <% end -%>
          </table>
        </div>
      </div>
      </div>
      
    </div>
  <% end -%>
  
  <h3>Tasks per projects</h3>
  <% @projects.each do |p| -%>
    <div class="container-fluid">
      <div class="important_info">
        <div class="row-fluid">
        <div class="span2">
          <h3><%= link_to p.name, project_tasks_path(p) %></h3>
        </div>
        <div class="span10">
          <table class = "table table-bordered">
            <tr>
              <th style = "width: 80%">Task Name</th>
              <th style = "width: 20%">Url</th>
            </tr>
          <% p.tasks.opened(Date.today).each do |t| %>
            <tr class="success">
              <td><%= link_to t.name, edit_project_task_path(p,t) %></td>
              <% unless t.url.nil? || t.url.empty? -%>
                <td><%= link_to image_tag("#{root_url}url-icon.png"), t.url, :target => "_blank" %></td>
              <% else -%>
                <td></td>
              <% end -%>
            </tr>
          <% end -%>
            
          <% p.tasks.not_yet_opened.each do |t| %>
            <tr class="error">
              <td><%= link_to t.name, edit_project_task_path(p,t) %></td>
              <% unless t.url.nil? || t.url.empty? -%>
                <td><%= link_to image_tag("#{root_url}url-icon.png"), t.url, :target => "_blank" %></td>
              <% else -%>
                <td></td>
              <% end -%>
             </tr>
          <% end -%>
          </table>
        </div>
      </div>
      </div>
      
    </div>
  <% end -%>
<% end %>

