<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
  <br>
  <b>Users:</b>
  <% @project.users.each do |u| %>
  <%= u.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
