<h1>Listing estimations</h1>

<table class="table table-striped">
  <tr>
    <th>Project</th>
    <th>Task</th>
    <th>Description</th>
    <th>Complexity</th>
    <th></th>
    <th></th>
  </tr>

<% @estimations.each do |estimation| %>
  <% if estimation.user == current_user %>
    <tr>
      <td><%= estimation.task.project.name %></td>
      <td><%= estimation.task.name %></td>
      <td><%= estimation.task.description %></td>
      <td><%= estimation.complexity.try(:code) %></td>
      <td><%= link_to 'Show', estimation, class: "btn" %></td>
      <td><%= link_to 'Edit', edit_estimation_path(estimation), class: "btn" %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />
