<h1>Queries#search</h1>
<p>Find me in app/views/queries/search.html.erb</p>

<%= form_tag('/index') do -%>
  <p>
     Users:</label> 
    <% User.find(:all).each do |user| %>
    <div>
      <%= check_box_tag "users[]" %>
      <%= user.name %>
    </div>
  <% end %>
  </p>
  
  <p>
    Invoice numbers:
    <%Task.find(:all).each do |task| %>
    <% unless task.invoice_number.empty? %>
    <div>
      <%= check_box_tag "invoice_numbers[]" %>
      <%= task.invoice_number %>
    </div>
    <% end -%>
  <% end -%>
  </p>
  <div><%= submit_tag 'Search' %></div>
<% end -%>
