<!DOCTYPE html>
<html>
  <head>
    <title>Powistry</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Powistry", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "Home",    root_path %></li>
                <li><%= link_to "Users",    users_path %></li>
                <li><%= link_to "My Projects", projects_path %></li>
                <li><%= link_to "My Estimations", estimations_path %></li>
                <li><%= link_to "All Tasks",    tasks_path %></li>
                <li><%= link_to "All Complexities", complexities_path %></li>
                <li><%= link_to "Queries", queries_index_path %></li>
                <!-- <a> tag just for keep it vertically aligned don't know how to solve it -->
                <li class="navbar-text"> Welcome <%= current_user.name %>! </li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete  %></li>
              <% else %>
                <li><%= link_to "Sign in", new_user_session_path unless current_user %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- For devise setup -->
    <% unless notice.nil? %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

