<!DOCTYPE html>
<html>
  <head>
    <title>Powistry</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Oregano' rel='stylesheet' type='text/css'>
    
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Powistry", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "Home",    root_path %></li>
                <li><%= link_to "My Projects", projects_path %></li>
                <li><%= link_to "My Estimations", estimations_path %></li>
                <li><%= link_to "Queries", queries_index_path %></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Welcome <%= current_user.name %>!
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My profile", user_path(current_user) %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete  %></li>
                    <% if current_user.admin? -%>
                      <li><%= link_to "Admin interface", rails_admin_path %></li>
                    <% end -%>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Sign in", new_user_session_path unless current_user %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- For devise setup -->
    <% unless notice.nil? %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

